# Dependencies
node_modules/
**/node_modules/

# Standalone Frontend Build
dist/
/frontend/dist/

# Standalone Go/Wails Build
/wrapper/build/bin/
/wrapper/frontend/dist/
/wrapper/trace-viewer-25-go
/wrapper/trace-viewer-25-go.exe
/wrapper/trace-viewer-25-go-*.exe
/wrapper/trace-viewer-25-go-darwin-*
/wrapper/trace-viewer-25-go-linux-*
/wrapper/trace-viewer-25-go-windows-*

# Go build & test artifacts
*.test
*.out
*.exe
/wrapper/vendor/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Environment and Secrets
.env
.env.*
!.env.example
frontend/package.json.md5
